.navbar {
	list-style: none;
}

.navbar-item {
	font-size: 1vw;
	margin: 0rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-decoration: none;
	color: #2d232e;
	border: none;
	transition: border-bottom 200ms;
	border-bottom: 5px solid transparent;
}

.navbar-item:hover {
	border-bottom: 5px solid #2d232e;
}

.active-item {
	border-bottom: 5px solid #ba5624;
}
