:root {
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #dccfec;
	display: flex;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	width: 33%;
}

form input {
	margin: 0.5rem;
	padding: 0.5rem;
}

.name-logo {
	font-family: 'Caveat', cursive;
	color: #2d232e;
}
.first-name {
	color: #ba5624;
}
